<div class="component-header">
  <h1>Tables</h1>
  <button mat-raised-button color="primary" routerLink="/table/create">Add Table</button>
</div>
<div class="table-list">
  <div class="table" *ngFor="let item of tableData">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>status</mat-card-subtitle>
        <div class="add-to-pit-section">
          <!--          <mat-form-field>-->
          <!--            <mat-label>Favorite food</mat-label>-->
          <!--            <mat-select name="food">-->
          <!--              @for (food of foods; track food) {-->
          <!--              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>-->
          <!--              }-->
          <!--            </mat-select>-->
          <!--          </mat-form-field>-->
          <mat-form-field>
            <mat-label>Hall</mat-label>
            <mat-select>
              <mat-option>hall</mat-option>

            </mat-select>
          </mat-form-field>
          <ng-container matColumnDef="actions">
            <td mat-cell *matCellDef="let item">
              <button mat-button color="primary" *ngIf="!item.id">
                Assign Hall
              </button>

              <button mat-button color="warn" *ngIf="item.id">
                Remove From Hall
              </button>
            </td>
          </ng-container>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="chips-card">
          <table>
            <thead>
            <tr>
              <th>Chips</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chip of item.open_flot">
              <td>{{ chip['denomination'] }}</td> <!-- Use bracket notation -->
              <td class="center">{{ chip.quantity }}</td>
            </tr>
            </tbody>
          </table>

          <div class="result_section">
            <h4>Total</h4>
            <h2>{{ item.open_flot_total }}</h2>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Actions">
          <mat-chip>
            <button mat-button [routerLink]="['/table/edit', item.id]" color="primary">Edit Table</button>
          </mat-chip>
          <mat-chip>
            <button mat-button color="warn" (click)="delete(item.id)">Delete Table</button>
          </mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
