<div class="component-header">
  <h1>Tables</h1>
  <button mat-raised-button color="primary" routerLink="/table/create">Add Table</button>
</div>
<div class="table-list">
  <div class="table" *ngFor="let item of tableData">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>status</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="chips-card">
          <table>
            <thead>
            <tr>
              <th>Chips</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chip of item.open_flot">
              <td>{{ chip['denomination'] }}</td> <!-- Use bracket notation -->
              <td class="center">{{ chip.quantity }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Actions">
          <mat-chip>
            <button mat-button color="primary">Edit Table</button>
          </mat-chip>
          <mat-chip>
            <button mat-button color="warn" (click)="delete(item.id)">Delete Table</button>
          </mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
